extends layout

block headStart
  title= gen.info.app.title

block header
  a: img.logo(src=paths.static + '/logo152.png', alt='Paul Nechifor logo')
  h1
    a(href=gen.info.app.rootHref)= gen.info.app.title

block content
  - function getType(type) {
  -   var ret = gen.posts.filter(function (p){return p.info.type === type});
  -   return ret.sort(function (a, b) {return b.info.date - a.info.date});
  - }

  h2 Posts
  - var posts = getType('post');
  each post in posts
    h3: a(href=gen.info.app.root + post.id)= post.info.title

  h2 Articles
  - var posts = getType('article');
  each post in posts
    h3: a(href=gen.info.app.root + post.id)= post.info.title
