extends layout

block headStart
  title #{post.info.title} – #{gen.info.app.title}

block header
  .links
    a(href='http://nechifor.net').left Paul Nechifor
    a(href=gen.info.app.rootHref).right Blog Posts
    div(style='clear:both')
  h1
    a(href=gen.info.app.root + post.id)= post.info.title

block content
  article!= post.html
